
:global {
    html, body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
        color: #333;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        overflow-y: auto;
        line-height: 24px;
        font-weight: normal;
        box-sizing: border-box;
        text-align: left;
    }

    * {
        box-sizing: border-box;
    }
}